/* @import url('https://fonts.googleapis.com/css?family=Tiny5');*/

@font-face {
  font-family: "mintbitregular";
  src: url("assets/Mintbit-pprmint.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-smooth: never;
}

div {
  font-family: 'mintbitregular';
  text-align: center;
  font-size: 25px;
  color: #bbb;
}

a {
  color: inherit;
  text-decoration: inherit;
  position: relative;
  color: #fff;
}
a:hover {
  color: #bbb;
}
.leftside {
  text-align: left;
}

.leftside > p > a::before {
  content: ">>";
  position: absolute;
  display: inline-block;
  left: -50px;
  transition: all 0.5s cubic-bezier(0.5, 1, 0, 1);
  color: #ffffff00;
  pointer-events: none;
}

.leftside > p > a:hover::before {
  position: absolute;
  display: inline-block;
  left: -30px;
  color:inherit;
  pointer-events: none;
}

.spacer {
  height: 1px;
}

.spacerlarge {
  height: 20px;
}

html,
body {
  min-height: 100dvh;
  padding: 0 50px;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.headlink,.headlink::before,.headlink::after{
  color: rgb(0, 195, 255);
}
.headlink:hover,.headlink:hover::before,.headlink:hover::after{
  color: rgb(145, 229, 255);
}

.projects-container {
  position: relative;
}

#projects-link {
  position: relative;
  z-index: 1;
}

.projects-menu {
  display: block;
  position: absolute;
  top: 120%;
  background-color: #000;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s cubic-bezier(0.5, 1, 0, 1);
  pointer-events: none;
}

.projects-menu a {
  display: block;
  white-space: nowrap;
  padding: 5px 0;
  position: relative;
}

.projects-menu.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.projects-menu a::before {
  content: ">>";
  position: absolute;
  display: inline-block;
  left: -60px;
  transition: all 0.5s cubic-bezier(0.5, 1, 0, 1);
  color: #ffffff00;
  pointer-events: none;
}

.projects-menu a:hover::before {
  left: -40px;
  color: inherit;
  pointer-events: none;
}